<p id="notice"><%= notice %></p>

<h1>島大百科</h1>

<table>
  <thead>
    <tr>
      <th colspan="5" class="article-table-label">新着記事</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td class="square_btn"><%= link_to '詳細', article %></td>
        <td class="square_btn"><%= link_to '編集', edit_article_path(article) %></td>
        <td class="square_btn"><%= link_to '削除', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_article_path %>
