<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @article.content.html_safe %>
</p>

<p>
  <strong>Comments:</strong>
  <% @article.comments.each do |comment| %>
    <% if comment.persisted? %>
      <p>
        <%= comment.created_at %> <br>
        <%= comment.body %> <br>
        <% link_to "Destroy", comment_path(comment), method: :delete %>
      </p>
    <% end %>
  <% end %>
</p>

<%= form_for([@article, @comment]) do |f| %>
  <% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.text_area :body, placeholder: "Send comment...", name: "comment[body]" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '戻る', articles_path %>
